<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <style>
        *{padding: 0; margin: 0;}
        body{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #F5F5F5;
            min-height: 100vh;
        }
        .box{
            background-color: #fff;
            width: 575px;
            box-sizing: border-box;
            padding: 30px;
            text-align: center;
            border-radius: 7px;
        }
        h1,h4,button,h3,h6,a{
            font-family: sans-serif;
        }

        .comment{
            margin-top: 35px;
            color: #3F3F3F;
        }
        .email{
            margin-top: 30px;
        }
        #btn{
            border: none;
            outline: none;
            margin-top: 30px;
            background-color: #33B140;
            padding: 10px 17px;
            font-size: 15px;
            border-radius: 5px;
            color: #fff;
            font-weight: 550;
            cursor: pointer;
            text-decoration: none;
        }
        .contact{
            margin-top: 15px;
            font-size: 17px;
        }
    </style>
</head>
<body>
    <div class="box">
        <h1 class="title">You success verify</h1>
        <h4 class="comment">
            Your account success verifyed please click below button and goto the home page
        </h4>
        <h3 class="email"><%= email %> </h3>
        <a id="btn" href="http://localhost:3000/">Go to home page</a>

        <div class="contact">
            <h6>Need help? <a href="https://t.me/Diyor1023">Contact Us</a></h6>
        </div>
    </div>
    <script>
        const goHome = () => window.location.href = `http://localhost:3000`
    </script>
</body>
</html>